<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DurakForm.Properties.Settings.Group1_LRCH_Final_DBConnectionString"
            connectionString="Data Source=DESKTOP-V3U4JJB;Initial Catalog=Group1-LRCH-Final-DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>